.multiTask {
    background: #f9f7f1;
    padding: 10px 5%;
    margin: 3px;
    border-radius: 5px;
}

.singleTask {
    background: #f0f9f9;
    padding: 10px 5%;
    margin: 3px;
    border-radius: 5px;
}

.customTask {
    background: #edf9ea;
    padding: 10px 5%;
    margin: 3px;
    border-radius: 5px;
}