.paginationButtons{
    list-style-type: none;
    padding: .5em;
    text-transform: uppercase;
}
.paginationButtons span{
    display: block;
    font-size: 4.5rem;

}
.class-div-buttons{
    text-align:center;
    background-color: #f1efeff7;
    border-radius: 10px;
    padding-bottom: 20px;
}

td {
    text-align: center;
}

#timerTimeId {
    margin-top: 20px;
    text-align: center;
    background-color: #eae5e5;
    border-radius: 10px;
    margin-bottom: 20px;
}


.title-with-time {
    font-weight: normal;
    background-color: #f1efeff7;
    padding-bottom: 10px;
    padding-top: 10px;
}

.line-with-time {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding-right:1em;
    text-transform: uppercase;
}

.line-with-time span {
    display: block;
    font-size: 1em;
}

#skillsDivFragment {
    margin: 3px;
    color: black;
    border-radius: 15px;
}

#numbersOfPage {
    padding: 10px;
}

#timerTimeId {
    padding: 10px;
}

#footer {
    background-color: #fbfbfb;
    bottom: 0;
    left: 17px;
    right: 26%;
    padding: 10px;
    margin-top: 20px;
}

body {
    margin-bottom: 50px;
}

h3 {
    padding-top: 10px;
    padding-left: 50px;
}

.theTest {
    margin-bottom: 100px;
    margin-top: 20px;
}

#mainTitle {
    text-align: center;
    background-color: #de411b;
    padding-top: 30px;
    color: white;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

#technicalSkillTable,
#sofSkillTable,
#toolSkillTable,
#englishLevelTable {
    border: 1px solid #797272;
    margin-top: 10px;
}

#technicalSkillTable > thead > tr > th,
#sofSkillTable > thead > tr > th,
#toolSkillTable > thead > tr > th,
#englishLevelTable > thead > tr > th {
    border: 1px solid #797272;
    background-color: #de411b;
}

#technicalSkillTable > tbody > tr > td,
#sofSkillTable > tbody > tr > td,
#toolSkillTable > tbody > tr > td,
#englishLevelTable > tbody > tr > td {
    border: 1px solid #797272;
    color: #383333;
    font-weight: bold;
}

#nextTaskPage {
    background-color: #de411b;
    border: #de411b;
    width: 70px;
    height: 30px;
}

#previousTaskPage {
    background-color: #de411b;
    border: #de411b;
    width: 70px;
    height: 30px;
}

#saveActiveTasks {
    background-color: #5CB85C;
    border: #5CB85C;
    width: 70px;
    height: 30px;
}
